@font-face {
    font-family: 'Antone';
    src: url('/fonts/AntoneDEMO-Clean.woff2') format('woff2'),
        url('/fonts/AntoneDEMO-Clean.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --background-color:rgba(240, 236, 213, 0.767);
    --background-opacity:rgba(236, 236, 236, 0.85);
    --white:rgb(235, 235, 235);
    --gold:rgb(182, 140, 1);
    --crimson:rgb(126, 1, 1);
    --navy:rgb(0, 11, 105);
    --shadow:rgb(83, 2, 129);
}
/* Element Selectors */
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Antone';
}
button {
    font-family: 'Antone';
    background-color: var(--white);
    border:2px outset var(--crimson);
    border-radius: 8px;
    padding:5px;
}
a {
    color:var(--gold);
    text-decoration: none;
    font-family: 'Antone';
    text-shadow:-1px -1px 0 #ffffff, 1px -1px 0 #7c7c7c, -1px 1px 0 #000000, 1px 1px 0 #000000;
    letter-spacing: 0.15rem;
}
a:visited {
    color:var(--gold);
    font-family: 'Antone';
    text-shadow:-1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #ffffff, 1px 1px 0 #000;
}
/* All Pages */
.nav-container {
    display:flex;
    list-style:none;
    min-width:60vw;
    justify-content: space-evenly;
    background-color: var(--background-opacity);
    padding:10px;
}
.sub-nav {
    display:flex;
    list-style: none;
    align-items: center;
    min-width:30vw;
    justify-content: space-evenly;
    background-color: var(--background-opacity);
    text-align: center;
    padding:10px;
    margin-top:5px;
}
.sub-nav>li {
    margin-left:10px;
    margin-right:10px;
}
.main-header {
    text-align: center;
    color:white;
    font-weight:700;
    font-size:22px;
}
/* Selectors for individual page colors */
.jasper-outer {
    border:5px solid var(--crimson);
    border-radius: 12px;
}
.jasper-inner {
    border:3px solid var(--gold);
    border-radius: 8px;
}
.jasper-text {
    color:var(--crimson);
}
.luna-outer {
    border:5px solid var(--navy);
    border-radius: 12px;
}
.luna-inner {
    border:3px solid var(--navy);
    border-radius: 8px;
}
.luna-text {
    color:var(--navy);
}
.ravy-outer {
    border:5px solid var(--shadow);
    border-radius: 12px;
}
.ravy-inner {
    border:3px solid var(--shadow);
    border-radius: 8px;
}
.ravy-text {
    color:var(--shadow);
}
/* Selectors for image backgrounds */
.jasper-bg {
    background-image: url('/images/background-cropped.jpg');
    background-color:black;
    background-size: cover;
}
.luna-bg{
    background-image: url('/images/luna-bg.jpg');
    background-color:black;
    background-size: cover;
}
.ravy-bg {
    background-image: url('/images/ravy-bg.png');
    background-size:cover;
}
/* Domains */
.codex {
    background-image: url('/images/codex.jpg');
    background-size: cover;
}
.splendor {
    background-image:url('/images/splendor.jpg');
    background-size: cover;
}
.valor {
    background-image:url('/images/valor.jpg');
    background-size: cover;
}
.sage {
    background-image: url('/images/sage.jpg');
    background-size: cover;
}
.bone {
    background-image: url('/images/bone.jpg');
    background-size: cover;
}
.grace {
    background-image: url('/images/grace.jpg');
    background-size: cover;
}
.midnight {
    background-image: url('/images/midnight.jpg');
    background-size: cover;
}
.wizard {
    background-image: url('/images/wizard.jpg');
    background-size: cover;
}
.seraph {
    background-image: url('/images/seraph.jpg');
    background-size: cover;
}
/* Equipment */
.zsosas {
    background-image: url('/images/zsosa.jpg');
    background-size: cover;
}
.storm-staff {
    background-image: url('/images/staff-of-storms.png');
    background-size: cover;
}
 
/* Character Ability Page */
.character-sheet {
    display:flex;
    flex-direction: column;
    width:95vw;
    align-items: center;
}
.empty-space {
    display:flex;
    width:100%;
    height:15vh;
}
.page-divider {
    background-color: var(--crimson);
    box-shadow: 0 0 0 3px var(--gold), 0 0 0 5px white;
    border:3px solid var(--gold);
    border-radius: 12px;
    width:100%;
    text-shadow:-1px -1px 0 #ffffff, 1px -1px 0 #7c7c7c, -1px 1px 0 #000000, 1px 1px 0 #000000;
    letter-spacing: 0.15rem;
    color:var(--gold);
    font-family: 'Antone';
}
.section-header-j {
    background-color:var(--crimson);
    box-shadow: 0 0 0 3px var(--gold), 0 0 0 5px white;
    border:3px solid var(--gold);
    border-radius: 12px;
    color:var(--gold);
    text-align: center;
    text-shadow:-1px -1px 0 #ffffff, 1px -1px 0 #7c7c7c, -1px 1px 0 #000000, 1px 1px 0 #000000;
    letter-spacing: 0.15rem;
    margin:10px;
}
/* Card Selectors */
.card-header {
    text-align: center;
    color:white;
    font-weight:700;
    font-size:18px;
}
.card-midheader {
    text-align: center;
    color:white;
    font-weight:700;
    font-size:16;
    margin-bottom:5px;
}
.card-subheader {
    text-align: center;
    color:var(--crimson);
    font-weight:700;
    margin-bottom:5px;
}
.black-header {
    color:black;
    font-size:16;
    font-weight:600;
    text-align: center;
}
.card-container {
    display:flex;
    flex-direction: column;
    padding:10px;
    margin:10px;
    border:5px solid var(--crimson);
    border-radius: 12px;
}
.card-feature {
    background-color: var(--background-opacity);
    padding:10px;
    border:3px outset var(--gold);
    border-radius: 8px;
}
.unequipped-card-collection {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.extra-domain-cards {
    display:flex;
    flex-direction: column;
    padding:10px;
    margin:10px;
    border-radius: 8px;
    width:92vw;
}
.character-auras {
    display:flex;
    justify-content: space-evenly;
    border-radius: 12px;
    padding:10px;
    margin:10px;
    width:90vw;
}
.character-auras>div {
    background-color:var(--background-opacity)
}
.condition-container {
    display:flex;
    flex-direction: column;
    margin:10px;
    padding:10px;
    text-align: center;
}
.condition-container>div {
    display:flex;
    flex:1;
}
.condition-container>div>div {
    flex:1;
    text-align: center;
}
.roll-list,#roll-list {
    flex:1;
    align-items: center;
    justify-content: center;
}
.dice-output-container {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    width:95vw;
    margin:auto;
    flex-direction:column;
    align-self: center;
    background-color: var(--white);
    padding:10px;
}
.conditions {
    display:flex;
}
.conditions>* {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.resistance-container {
    text-align: center;
    padding:10px;
}
.combat-numbers {
    display:flex;
    min-width:40vw;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--crimson);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.evasion,.armor,.armor-slots {
    background-color:var(--white);
    border:3px solid var(--gold);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.trait-container {
    display:flex;
    align-items: center;
    width:100%;
    border-radius: 12px;
    margin:10px;
}
.trait {
    display:flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    text-align: center;
    margin:10px;
    padding:10px 5px 10px 5px;
    background-color: var(--crimson);
    border-radius: 8px;
    height:100%;
}
.traits>div>div {
    display:flex;
    flex-direction:column;
    padding:10px;
    flex:1;
}
.player-economy {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    min-width:70%;
    background-color: var(--background-color);
    border-radius: 12px;
}
.hp-stress {
    flex:1;
    display:flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    max-width:50%;
    padding:10px;
    margin:10px;
    border:3px solid var(--gold);
}
.hp,.stress {
    flex:1;
    display:flex;
    flex-direction: column;
}
.damage-thresholds {
    flex:1;
    display:flex;
}
.damage-thresholds * {
    flex:1;
    padding:5px;
}
.dmg-bar {
    background-color:var(--crimson);
    color:white;
    text-align: center;
    margin:-2px;
    border-radius:8px;
}
.dmg-thresh {
    border:3px outset var(--gold);
    border-radius: 8px;
    background-color: white;
    text-align: center;
    font-size:22px;
    justify-content: center;
    align-items: center;
}
.experiences {
    display:flex;
    flex-direction:column;
}
.experience1,.experience2,.experience3,.experience4,.experience5 {
    display:flex;
    flex:1;
    margin:5px 0px 5px 0px;
}
.exp>div {
    padding:10px;
}
.attack-experience-hope {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.roll-list {
    display:flex;
}
.roll-list>div {
    text-align: center;
    margin:10px;
}
.aeh-left, .aeh-right {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:10px;
    padding:15px;
    width:50%;
    background-color: var(--background-color);
    border-radius: 12px;
}
.primary-weapon-info, .secondary-weapon-info {
    display:flex;
    align-items: center;
    flex:1;
    border:3px solid var(--gold);
    border-radius: 8px;
    padding:10px;
}
.primary-weapon-info>div, .secondary-weapon-info>div {
    margin:10px;
}
.primary-weapon,.secondary-weapon {
    display:flex;
    flex-direction: column;
}
.primary-weapon>div,.secondary-weapon>div {
    flex:1;
    display:flex;
    margin:10px;
}
.right-head {
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-bottom:10px;
}
.effects-features {
    display:flex;
    flex-direction: row;
    padding:10px;
}
.equip-container {
    display:flex;
    flex-direction: column;
    width:65vw;
}
.item {
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.item>div {
    background-color:var(--background-opacity);
    border:3px solid var(--gold);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.ef-left,.ef-right {
    display:flex;
    flex-direction: column;
    flex:1;
    margin:10px;
    padding:10px;
}
.card-head {
    display:flex;
}
.card-head>div {
    flex:1;
}
.card-buttons {
    display:flex;
}
.flex-column {
    display:flex;
    flex-direction: column;
    flex:1;
    text-align: center;
    color:var(--crimson);
    font-weight: 700;
}

.domain-card {
    border:3px solid var(--gold);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.card-desc {
    display:flex;
    flex-direction: column;
    border:3px solid var(--gold);
    background-color: var(--background-opacity);
    border-radius: 8px;
    padding:10px;
    margin:20px;
}
.card-feature {
    margin:10px;
}


/* Depreciated Selectors - Waiting for deletion */
/* .card-buttons>* {
    flex:1;
    text-align: right;
    margin:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card-buttons>*>* {
    flex:1;
} */