:root {
    --background-color:rgb(0,0,0);
    @font-face {
    font-family: 'Antone';
    src: url('/fonts/AntoneDEMO-Clean.woff2') format('woff2'),
        url('/fonts/AntoneDEMO-Clean.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
        font-family: 'Antone';
        src: url('/fonts/AntoneDEMO-Clean.woff2') format('woff2'),
            url('/fonts/AntoneDEMO-Clean.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

body {
    display:flex;
    flex-direction: column;
    background-image: url("/images/background.jpg");
    background-color:black;
    background-size: cover;
    align-items: center;
    font-family: 'Antone';
}
a {
    text-decoration: none;
    font-family: 'Antone';
}
.nav-container {
    display:flex;
    list-style:none;
    width:100%;
    justify-content: space-evenly;
}
.character-sheet {
    display:flex;
    flex-direction: column;
    width:95vw;
    align-items: center;
}
.conditions {
    display:flex;
}
.character-auras {
    display:flex;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
    padding:10px;
}
.combat-numbers {
    display:flex;
    width:100%;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.traits {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
    padding:10px;
}
.traits>div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:10px;
}
.traits>div>div {
    padding:0px 15px 15px 15px;
}
.title {
    font-weight:700;
}
.player-economy {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin:10px;
}
.hp-stress {
    display:flex;
    flex-direction: column;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
    text-align: center;
    width:100%;
    padding:10px;
}
.experiences {
    display:flex;
    flex-direction:column;
}
.experience1,.experience2,.experience3,.experience4,.experience5 {
    display:flex;
    flex:1;
    margin:5px 0px 5px 0px;
}
.attack-experience-hope {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dice-output-container {
    display:flex;
    flex-direction:column;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
}
.roll-list {
    display:flex;
}
.roll-list>div {
    text-align: center;
    margin:10px;
}
.aeh-left, .aeh-right {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:10px;
    padding:15px;
    width:50%;
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
}
.primary-weapon-info, .secondary-weapon-info {
    display:flex;
    align-items: center;
    flex:1;
}
.effects-features {
    background-color: white;
    border:3px solid rgb(182, 140, 1);
    border-radius: 8px;
}