.flexCardColumn { /* All Column Containers */
  display:flex;
  flex-direction: column;
}
.flexCardRow { /* All Row  Containers */
  display:flex;
}
.buttonCard {  /* All Row Button Containers */
  display:flex;
  align-items: center;
  justify-content: center;
}